.footer-container {
    display: flex;
    justify-content: space-between;
    background-color:#fbf8f8; 
    padding: 20px;
    color: black; 
  }
  
  .footer-section {
    /* width: 50%;  */
    display: flex;
    flex-direction: column;
  }
  
  .footer-heading {
    font-weight: bold; 
    margin-bottom: 10px;
  }

  .footer-services{
    cursor: pointer;
    display: flex;
    gap:8px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .footer-services li {
    list-style: none;
    margin-bottom: 5px;
  }
  
  .footer-services li:hover {
    font-weight: bold; 
  }
  
  .footer-address {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, .4)
  }

  .footer-logo{
    width:170px;
    aspect-ratio: 16 / 9;
    object-fit: contain;
    /* mix-blend-mode:multiply */
  }
  